DOCKER_USER=<>
BOT_IMAGE=<>
MAIN_IMAGE=<>
CELERY_IMAGE=<>
TAG=<latest>

TELEGRAM_TOKEN=<>
KEY_1=<OPENAI KEY>
KEY_2=<OPENAI KEY>
KEY_3=<OPENAI KEY>
KEY_4=<OPENAI KEY>
KEY_5=<OPENAI KEY>

GOOGLE_API_KEY=<GOOGLE_API_KEY FOR GEMINI AI>
TENOR_API_KEY=<TENOR_API_KEY FOR GENERATE GIF>

API_URL_SPEECH=not_need_now_coz_using_gemini
PAYMENT_URL=<>
MONGODB_URI=<>

KAFKA_SERVER=kafka
KAFKA_PORT=29092

REDIS_SERVER=redis
REDIS_PORT=6380

USER=12345

SENTRY_URL=<>
